.section6 {
    height: 650px;
    margin: 150px auto 0;
    &__title {
        position: relative;
        font-size: 36px;
        color: $mainColor;
    }
    &__title::before {
        position: absolute;
        content: '';
        width: 120px;
        height: 20px;
        background-color: #F9BB88;
        bottom: -2px;
        left: -40px;
        z-index: -1;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 100px;
        &-list {
            &-item {
                font-size: 14px;
                line-height: 22px;
                margin: 0 0 14px 0;
                span {
                    font-size: 18px;
                    font-weight: 600;
                    // margin: 0 0 20px 0;
                }
            }
        }
    }
}



@media screen and (max-width: 768px) {
    .section6 {
        width: 100%;
        height: 1400px;
        &__wrapper {
            display: block;
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .section6 {
        width: 100%;
        height: 1300px;
    }
}